<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/blank}">

<th:block layout:fragment="breadcrumb">

</th:block>

<th:block layout:fragment="content">
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
<!--                    <h3 class="breadcrumb-header">Checkout</h3>-->
                    <ul class="breadcrumb-tree">
                        <li><a href="/">Home</a></li>
                        <li class="active">checkout</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-7">
                    <form id="checkoutForm" th:action="@{/checkout}" method="post" th:object="${checkoutForm}">
                        <!-- Billing Details -->
                        <div class="billing-details">
                            <div class="section-title">
                                <h3 class="title">Billing address</h3>
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" th:field="*{billingInfo.fullName}" th:errorclass="error" placeholder="Full name">
                            </div>
                            <div class="form-group">
                                <input class="input" data-mask="000-000-0000" type="text" th:field="*{billingInfo.phone}" th:errorclass="error" placeholder="Phone">
                            </div>
                            <div class="form-group">
                                <input class="input" data-mask="000-00-000" type="text" th:field="*{billingInfo.document}" th:errorclass="error" placeholder="Document">
                            </div>
                            <div class="form-group">
                                <input class="input" data-mask="00000" type="text" th:field="*{billingInfo.address.zipCode}" th:errorclass="error" placeholder="Zipcode">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" th:field="*{billingInfo.address.street}" th:errorclass="error" placeholder="Street">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" th:field="*{billingInfo.address.number}" th:errorclass="error" placeholder="Number">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" th:field="*{billingInfo.address.complement}" th:errorclass="error" placeholder="Complement">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" th:field="*{billingInfo.address.neighborhood}" th:errorclass="error" placeholder="Neighborhood">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" th:field="*{billingInfo.address.state}" th:errorclass="error" placeholder="State">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" th:field="*{billingInfo.address.city}" th:errorclass="error" placeholder="City">
                            </div>
                        </div>
                        <!-- /Billing Details -->

                        <!-- Shiping Details -->
                        <div class="shiping-details">
                            <div class="section-title">
                                <h3 class="title">Shipping address</h3>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" id="shiping-address"
                                       th:checked="*{sendToDifferentAddress}" name="sendToDifferentAddress">
                                <label for="shiping-address">
                                    <span></span>
                                    Send to a different address?
                                </label>
                                <div class="caption">
                                    <div class="form-group">
                                        <input class="input" type="text" th:field="*{shippingInfo.fullName}" th:errorclass="error" placeholder="Full name">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" data-mask="000-000-0000" type="text" th:field="*{shippingInfo.phone}" th:errorclass="error" placeholder="Phone">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" data-mask="000-00-0000" type="text" th:field="*{shippingInfo.document}" th:errorclass="error" placeholder="Document">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" data-mask="00000" type="text" th:field="*{shippingInfo.address.zipCode}" th:errorclass="error" placeholder="Zipcode">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" th:field="*{shippingInfo.address.street}" th:errorclass="error" placeholder="Street">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" th:field="*{shippingInfo.address.number}" th:errorclass="error" placeholder="Number">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" th:field="*{shippingInfo.address.complement}" th:errorclass="error" placeholder="Complement">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" th:field="*{shippingInfo.address.neighborhood}" th:errorclass="error" placeholder="Neighborhood">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" th:field="*{shippingInfo.address.state}" th:errorclass="error" placeholder="State">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" th:field="*{shippingInfo.address.city}" th:errorclass="error" placeholder="City">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Shiping Details -->
                    </form>
                </div>

                <!-- Order Details -->
                <div class="col-md-5 order-details" th:with="shoppingCart=${@menuService.loadShoppingCart()}">
                    <div class="section-title text-center">
                        <h3 class="title">Order Summary</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>Product</strong></div>
                            <div><strong>Price</strong></div>
                        </div>
                        <div class="order-products">
                            <div class="order-col" th:each="item: ${shoppingCart.items}">
                                <div th:text="|${item.quantity}x ${item.name}|">1x Product Name Goes Here</div>
                                <div th:text="${#numbers.formatCurrency(item.price)}">$980,00</div>
                            </div>
                        </div>
                        <div class="order-col">
                            <div>Shipping</div>
                            <div><strong>FREE</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong class="order-total" th:text="${#numbers.formatCurrency(shoppingCart.totalAmount)}">$2940.00</strong></div>
                        </div>
                    </div>
                    <div class="payment-method" th:object="${checkoutForm}">
                        <input form="checkoutForm" id="cardTokenInput" class="input" type="hidden" name="creditCardToken"
                               th:field="*{creditCardToken}">
                        <input form="checkoutForm" id="cardIdInput" class="input" type="hidden" name="creditCardId"
                               th:field="*{creditCardId}">
                        <div class="input-radio">
                            <input form="checkoutForm" type="radio" th:field="*{paymentMethod}" value="GATEWAY_BALANCE" id="payment-1">
                            <label for="payment-1">
                                <span></span>
                                FastPay Account Balance
                            </label>
                        </div>
                        <div class="input-radio">
                            <input form="checkoutForm" type="radio" th:field="*{paymentMethod}" value="CREDIT_CARD" id="payment-2">
                            <label for="payment-2">
                                <span></span>
                                Credit Card
                            </label>
                            <div class="caption">
                                <form id="cardForm" th:action="${@ecommerceProperties.getPaymentProviderCreditCardTokenUrl()}" method="post">
                                    <input type="hidden" id="publicCardToken" th:value="${@ecommerceProperties.getPaymentProviderPublicKey()}">
                                    <p>Credit card info</p>
                                    <div class="form-group">
                                        <input form="cardForm" class="input" type="text" name="holderName" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input form="cardForm" class="input" type="text" name="holderDocument" placeholder="Document">
                                    </div>
                                    <div class="form-group">
                                        <input form="cardForm" class="input" type="text" name="cardNumber" placeholder="Card number">
                                    </div>
                                    <div class="form-group">
                                        <input form="cardForm" class="input" type="text" name="cardExpiration" placeholder="Expiration date">
                                    </div>
                                    <div class="form-group">
                                        <input form="cardForm" class="input" type="text" name="CVV" placeholder="CVV">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button type="submit" form="checkoutForm" class="primary-btn order-submit">Place order</button>
                    <a  href="/products" class="secondary-btn back-to-shopping-link btn btn-default md-btn-flat mt-2 mr-2">Back to shopping</a>
                </div>
                <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
</th:block>

<th:block layout:fragment="javascript-extra">

</th:block>

</html>
